/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Inconsolata', monospace;
    line-height: 25px;
    text-transform: capitalize;
    font-size: 24px;
    padding: 15px 90px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    grid-column-gap: 50px;
}

#section-image {
    width: 100%;
    height: auto;
} 

p {
    font-family:  monospace;
    line-height: 36px;
    font-size: 24px;
    padding: 20px;
    color: #4f4f4f;
} 

.title {
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    line-height: 94px;
    color: #333333;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

button {
    background-color: black;
    font-size: 14px;
    width: 216px;
    height: 48px;
    color: white;
}

.footer {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}


@media screen and (min-width: 375px) {
    body {
      background-color: white;
      box-shadow: 0px 2px 24px;
      border-radius: 8px;
      
    }
  }